<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{event.name}}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/event.css') }}">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid containerBackground">

    </div>
    <div class="containerInfo">
      <div class="container">
        <div class="row">
          <img class="col-md-8 headerEvent img-fluid" src="{{ asset('img/fondo.jpg') }}" alt="Imagen del evento">
          <div class="col-md-4 headerDetail">
            <p class="titleMonth">{{event.date|date('M')}}</p>
            <p class="titleDayMonth">{{event.date|date('d')}}</p>
            <h2>{{event.name}}</h2>
            <p class="titlePrice">{{event.price}}€</p>
            <a href="{{path('acavall_ticket')}}"><button class="btn btnBuy btn-lg"type="button" name="button">COMPRAR</button></a>

          </div>
        </div>
        <div class="row containerDetail">
          <div class="col-md-8 containerDescription">
              <h5>DESCRIPCIÓN</h5>
              <p>{{event.description}}</p>

              <h5 style="margin-top:50px;">CATEGORIAS</h5>

              <div class="containerCategory">
                {% for category in event.categories %}
                <span class="textCategory">{{category.name}}</span>
                {% endfor %}
              </div>

              <h5>COMPARTELO CON TUS AMIGOS</h5>
              <div class="">
                <a href="http://www.facebook.com/sharer.php?u=localhost:8000{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}" target="_blank"><i class="fa fa-facebook" title="Compartir en facebook"></i></a>
                <a href="http://twitter.com/share?url=localhost:8000{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}"target="_blank">
                 <i class="fa fa-twitter" title="Compartir en twitter"></i> </a>
              </div>
          </div>

          <div class="col-md-4">
              <div class="card">
                <div class="containerCardInfo">
                  <i class="fas fa-map-marker-alt"></i>
                  <div class="cardInfoRow">
                    <p>{{event.date|date('l,d \\d\\e F \\d\\e Y')}}</p>
                    <p>{{event.date|date('H:i')}}</p>
                  </div>
                </div>
                <div class="containerCardInfo">
                  <i class="far fa-clock"></i>
                  <div class="cardInfoRow">
                    <p>{{event.localName}}</p>
                    <p class="textAddress">{{event.address}}</p>
                  </div>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3071.7151078851634!2d-0.4447235843454695!3d39.6561257094678!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd606801f609c8c7:0x45fbaafe1e804444!2sFundación+ACAVALL!5e0!3m2!1ses!2ses!4v1517911140771"  frameborder="0" allowfullscreen></iframe>
              </div>
          </div>
        </div>
      </div>

      <div class="container">
        <h2 class="textOtherEvents">Otros eventos que podrían interesarte</h2>
      </div>
    </div>
  </body>
</html>
