
{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/index.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
  <div id="general" class="container">
    <div class="row">

      <div class="col-md-3" style="background:white;">

        <p style="margin-top:20px;"><b>FECHA</b></p>
        <fieldset class="form-group">
          <div class="form-check tit">
            <label class="form-check-label">
              <input type="radio" onclick="filterForDate('getAllEvents');" class="form-check-input" name="input" value="todas" checked>
              Todas las fechas
            </label><br>
            <label class="form-check-label">
              <input type="radio" onclick="filterForDate('getEventsToday');" id="today" class="form-check-input" name="input" value="hoy">
              Hoy
            </label><br>
            <label class="form-check-label">
              <input type="radio" onclick="filterForDate('getEventsTomorrow');" id="tomorrow" class="form-check-input" name="input" value="mañana">
              Mañana
            </label><br>
            <label class="form-check-label">
              <input type="radio" onclick="filterForDate('getEventsThisWeek');" id="thisWeek" class="form-check-input" name="input" value="esta semana">
              Esta semana
            </label><br>
            <label class="form-check-label">
              <input type="radio" onclick="filterForDate('getEventsThisWeekend');" id="thisWeekend" class="form-check-input" name="input" value="este fin de semana">
              Este fin de semana <br>
            </label><br>
            <label class="form-check-label">
              <input type="radio" onclick="filterForDate('getEventsThisMonth');" id="thisMonth" class="form-check-input" name="input" value="este mes">
              Este mes
            </label>
          </div>
        </fieldset>

        <p style="margin-top:10px;"><b>PARTICIPANTES</b></p>
        <fieldset class="form-group">
          <div class="form-check tit">
            <label class="form-check-label">
              <input type="radio" onclick="filterForCategory('1');" class="form-check-input" name="input" value="niños y niñas">
              Niños y niñas
            </label><br>
            <label class="form-check-label">
              <input type="radio" onclick="filterForCategory('2');" class="form-check-input" name="input" value="adultos">
              Adultos
            </label><br>
            <label class="form-check-label">
              <input type="radio" onclick="filterForCategory('3');" class="form-check-input" name="input" value="familia">
              Familia <br>
            </label>
          </div>
        </fieldset>

        <p style="margin-top:10px;"><b>ANIMALES</b></p>
        <fieldset class="form-group tit">
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" onclick="filterForCategory('4');" class="form-check-input" name="input" value="todos los animales">
              Todos los animales
            </label><br>
            <label class="form-check-label">
              <input type="radio" onclick="filterForCategory('5');" class="form-check-input" name="input" value="gatos">
              Gatos
            </label><br>
            <label class="form-check-label">
              <input type="radio" onclick="filterForCategory('6');" class="form-check-input" name="input" value="perros">
              Perros
            </label><br>
            <label class="form-check-label">
              <input type="radio" onclick="filterForCategory('7');" class="form-check-input" name="input" value="pequeños animales">
              Pequeños animales
            </label><br>
            <label class="form-check-label">
              <input type="radio" onclick="filterForCategory('8');" class="form-check-input" name="input" value="animales silvestres">
              Animales silvestres
            </label>
          </div>
        </fieldset>

        <p style="margin-top:10px;"><b>ACTIVIDADES</b></p>
        <fieldset class="form-group tit">
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" onclick="filterForCategory('9');" class="form-check-input" name="input" value="inclusivas">
              Inclusivas <br>
            </label>
            <label class="form-check-label">
              <input type="radio" onclick="filterForCategory('10');" class="form-check-input" name="input" value="accesibles para silla de ruedas">
              Accesibles para silla de ruedas <br>
            </label>
          </div>
        </fieldset>

      </div><br><br>

      <div id="cardListContainer" class="col-md-9">

        {% for evento in eventos %}

          <div class="card cardFormat">


            <div class="contImg">
              <img class="card-img-top" width="100px" height="130px" onerror="this.src='{{asset('img/acavall.jpg')}}';" src="{{asset('img/imagesEvents/' ~ evento.image)}}" alt="Imagen card evento">
            </div>

            <div class="card-block">
              <p id="eveName"><b>{{ evento.name }}</b></p>

              <div id="contCard" class="container">

                <div class="row" style="margin-bottom:5px">
                  <div class="col-md-4 text-center">
                    <div id="month">{{ evento.date|date('M') }}</div>
                    <div id="day">  {{ evento.date|date('d') }}</div>
                  </div>
                  <div class="col-md-8" style="font-size:14px;">
                    <p style="margin-bottom:0px;"><i style="color:grey;" class="far fa-money-bill-alt"></i> &nbsp; desde <b>{{ evento.price }} €</b></p>
                    <p><i style="color:grey;" class="fas fa-map-marker"></i> &nbsp;{{ evento.address }}</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-5 text-center" style="padding-top:8px;">
                    <a style="color:#c8c22f; text-decoration:none;"
                       href="{{ path('acavall_event',{ 'eventId': evento.id }) }}">
                       VER MAS
                    </a>
                  </div>
                  <div class="col-md-7 text-center">
                    {% if evento.actualCapacity == 0 %}
                      <a href="buy" class="btn btnC" width="100px" style="pointer-events: none;">AGOTADO</a>
                    {% else %}
                      <a href="buy" class="btn btnC" width="100px">COMPRAR</a>
                    {% endif %}

                  </div>
                </div>

              </div>
            </div>
          </div>

        {% endfor %}

      </div>

    </div>
  </div>
{% endblock %}
