<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Compra de entradas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="{{asset('js/compra.js')}}"></script>
    <link rel="stylesheet" href="{{asset('css/ticket.css')}}">
  </head>
  <body onload="sumarPrecio">
    <div class="todo">
      <p>COMPRAR ENTRADAS</p>

        <form id="todo">

          <table id="repetir" class="table" style="width: 80%; background: white; opacity: 0.9;">
            <tr>
              <th class="form-group" scope="col">ENTRADAS</th>
              <th class="form-group" scope="col">CANTIDAD</th>
              <th class="form-group" scope="col">PRECIO</th>
            </tr>
            <tr>
              <td class="form-group"><b>Entrada General</b></td>
              <td class="form-group">
                <select id="numero" onchange="multiplicarInputs()" class="form-control" name="edad">
                  <option value="ninguno" selected disabled> </option>
                  <option value="1" id="1">1</option>
                  <option value="2" id="2">2</option>
                  <option value="3" id="3">3</option>
                  <option value="4" id="4">4</option>
                  <option value="5" id="5">5</option>
                </select>
              </td>
              <td id="preciotexto" class="form-group" style="font-size: 15px; text-align: center;">{{event.price}}€</td>
            </tr>
            <tr>
                {{ form_start(form)}}
              <td class="form-group"><b>¿Niño o adulto?</b></td>
              <td class="form-group">
                {{ form_widget(form.gender, {'id': 'inputState'}) }}
              </td>
              <td class="form-group"> </td>
            </tr>
              <tr id="formniño" style="visibility: collapse">
                <td class="form-group" id="edad1"><b>Edad de los niños</b></td>
                <td class="form-group" id="edad2">
                  {{ form_widget(form.childage, {'id': 'inputState'}) }}
                </td>
                <td class="form-group"> </td>
              </tr>

            <tr>
              <td class="form-group"><b>¿Alguno de los participantes tiene diversidad funcional o discapacidad?</b></td>
              <td class="form-group">
                  {{ form_widget(form.disability, {'id': 'inputState'})}}
              </td>
              <td> </td>
            </tr>
            <tr>
              <td class="form-group"><b>¿Necesita algun tipo de adaptación o apoyo?</b></td>
              <td class="form-group">
                <input type="text" class="form-control" id="inputCity">
              </td>
              <td> </td>
            </tr>
            <tr>
              <td class="form-group"><b>TOTAL</b></td>
              <td class="form-group"> </td>
              <td class="form-group"><b id="precio">{{event.price}}€</b></td>

            </tr>

          </table>
          <br><br>


        <br><br>
        <div id="divMultiInputs">
       </div>


       </form>

       {{ form_widget(form.enviar,{ 'attr': {'class': 'enviar'} }) }}
       {{ form_end(form)}}
    </div>
  </body>
</html>
