{% extends 'base.html.twig' %}

{% block title %}Comprar de entrada{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{asset('css/ticket.css')}}">
{% endblock %}

{% block javascripts %}
  <script src="{{asset('js/compra.js')}}"></script>
{% endblock %}

{% block body %}
  <div class="container containerTicket">
    <div class="form" style="background-color:white;">
      <div class="row deletePadding">
        <div class="col-md-6">
          <p class="totalTitle">Compra de entradas</p>
        </div>
      </div>
      <div class="form-row deletePadding">
        <div class="col-6">
          <p class="align-middle">ENTRADAS</p>
        </div>
        <div class="col-3">
          <p>CANTIDAD</p>
        </div>
        <div class="col-3">
          <p>PRECIO</p>
        </div>
      </div>
      {{ form_start(form) }}
      <div class="form-row">
        <div class="col-6">
          <label for="">Entrada general</label>
        </div>
        <div class="col-3">
          <select class="form-control">
            <option>1</option>
          </select>
        </div>
        <div class="col-3">
          <p>x {{event.price}}€</p>
        </div>
      </div>
      <div class="form-row">
        <div class="col-6">
          {{ form_label(form.gender, "¿Niño o Adulto?") }}
        </div>
        <div class="col-3">
          {{ form_widget(form.gender, { 'id': 'gender','attr': {'class': 'form-control'} }) }}
        </div>
      </div>
      <div id="formchildage" class="form-row">
        <div class="col-6">
          {{ form_label(form.childage, "Edad del niño") }}
        </div>
        <div class="col-3">
          {{ form_widget(form.childage, { 'id': 'childage','attr': {'class': 'form-control'} }) }}
        </div>
      </div>
      <div class="form-row">
        <div class="col-6">
          {{ form_label(form.disability, "¿Algunos de los participantes tiene diversidad funcional o discapacidad?") }}
        </div>
        <div class="col-3">
          {{ form_widget(form.disability, { 'id': 'disability','attr': {'class': 'form-control'} }) }}
        </div>
      </div>
      <div class="form-row">
        <div class="col-6">
          {{ form_label(form.support, "¿Necesita algún tipod de adaptación o apoyo?") }}
        </div>
        <div class="col-3">
          {{ form_widget(form.support, { 'id': 'support','attr': {'class': 'form-control'} }) }}
        </div>
      </div>
      <div class="form-row">
        <div class="col-6">
          <p class="totalTitle">TOTAL</p>
        </div>
        <div class="col-3">
        </div>
        <div class="col-3">
          <p class="totalPrice">{{event.price}}€</p>

        </div>
      </div>
        {{ form_widget(form.comprar, { 'label': 'Comprar entrada' ,'id': 'buyTicket','attr': {'class': 'btn'} }) }}
      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}
