{% extends 'base.html.twig' %}

{% block title %}Actualizar Evento{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/createEvent.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker-standalone.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/createEvent.js') }}" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

{% endblock %}

{% block body %}

  <div class="container">

    <div class="container-fluid formHeader">
      <h1>Actualizar {{event.name}}</h1>
    </div>

    <div class="form">
      {{ form_start(form) }}

      <div class="form-row">
        <div class="col-6">
          {{ form_label(form.name, "Nombre del evento") }}
          {{ form_widget(form.name, { 'id': 'nameEvent','attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-6">
          {{ form_label(form.dateText, "Fecha") }}
          {{ form_widget(form.dateText, { 'id': 'dateEvent','attr': {'class': 'form-control'} }) }}
        </div>
      </div>

      <div class="form-row">
        <div class="col-6">
          {{ form_label(form.capacity, "Aforo del evento") }}
          {{ form_widget(form.capacity, { 'id': 'capacityEvent','attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-6">
          {{ form_label(form.price, "Precio de la entrada en") }}
          {{ form_widget(form.price, { 'id': 'priceEvent','attr': {'class': 'form-control'} }) }}
        </div>
      </div>

      <div class="form-row">
        <div class="col-6">
          {{ form_label(form.address, "Dirección") }}
          {{ form_widget(form.address, { 'id': 'addressEvent','attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-6">
          {{ form_label(form.localName, "Nombre del local") }}
          {{ form_widget(form.localName, { 'id': 'nameLocalEvent','attr': {'class': 'form-control'} }) }}
        </div>
      </div>

      <div class="form-group">
        {{ form_label(form.description, "Descripción del evento") }}
        {{ form_widget(form.description, { 'id': 'descriptionEvent','attr': {'class': 'form-control'} }) }}
       </div>

       <div class="form-group">
         {{ form_label(form.categories, "Categorias del evento") }}
         {{ form_widget(form.categories, { 'id': 'categoriesEvent','attr': {'class': 'form-control'} }) }}
       </div>

       <div class="custom-file">
         {{ form_widget(form.image, { 'id': 'imageEvent','attr': {'class': 'custom-file-input'} }) }}
         {{ form_label(form.image, "Imagen",{'label_attr': {'class': 'custom-file-label'}}) }}
       </div>

       {% if urlFoto is defined %}
       <div id="imageContainer" class="imageContainerVisible row">
         <img id="imagePreview" onerror="this.alt=''" class="col-md-6" src="{{asset('img/imagesEvents/' ~ urlFoto)}}" alt="Imagen del evento">
       </div>
       {% else %}
       <div id="imageContainer" class="imageContainer row">
         <img id="imagePreview" onerror="this.alt=''" class="col-md-6" src="" alt="Imagen del evento">
       </div>
       {% endif %}

       <div class="form-group">
         {{ form_label(form.video, "Video (URL)") }}
         {{ form_widget(form.video, { 'id': 'videoEvent','attr': {'class': 'form-control'} }) }}
       </div>

       <div class="form-group">
         <div class="form-check">
           {{ form_widget(form.publish, { 'attr': {'class': 'form-check-input'} }) }}
           {{ form_label(form.publish) }}
         </div>
       </div>

      {{ form_widget(form.submit, { 'label': 'Actualizar' ,'id': 'submitEvent','attr': {'class': 'btn'} }) }}
      {{ form_end(form) }}
    </div>
  </div>

{% endblock %}
